@font-face {
    font-family: AvenirNext;
    src: url(../assets/AvenirNextLTW01-Medium.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: AvenirNext;
    user-select: none;
    font-size: 2vmin;
    color: white;
}

canvas {
    vertical-align: top;
}

a:visited {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text-section {
  margin-top: 50px;
  margin-left: 50px;
}

.click-me {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
